{% extends 'station/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>

<style type="text/css">
#stationMap { height: 300px; }
</style>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation" style="margin-top: -1.5rem">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% blocktrans %}Station{% endblocktrans %} {{ station.id }}</li>
    </ol>
</nav>

<div class="container">

    <h1>Station {{ station.id }} <small class="ml-2"><span class="badge badge-secondary">{{ station.kind }}</span> <span class="badge badge-info">{{ station.state }}</span></small></h1>

    <p class="text-muted"><small>
        <strong>Station kind</strong>: <span class="badge badge-secondary ml-2">S</span> Stationary <span class="badge badge-secondary ml-2">M</span> Mobile <span class="badge badge-secondary ml-2">L</span> Stationary (legacy)<br/>
        <strong>State</strong>: <span class="badge badge-info ml-2">H</span> High-rate streaming <span class="badge badge-info ml-2">N</span> Normal-rate streaming
        <span class="badge badge-info ml-2">A</span> Alert
        <span class="badge badge-info ml-2">R</span> Ready
        <span class="badge badge-info ml-2">E</span> Eco-mode
        <span class="badge badge-info ml-2">L</span> Lost
    </small></p>

    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Location</th>
                    <td>Lat: {{ station.location.coordinates.1 }} Lon: {{ station.location.coordinates.0 }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div id="stationMap"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<script>
var station = {{ station_json | safe }};

var stationMap = L.map('stationMap').setView([station.location.coordinates[1], station.location.coordinates[0]], 13);
L.tileLayer('http://{s}.tile.openstreetmap.fr/{id}/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Map style by <a href="https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team">Humanitarian OSM Team</a>',
    maxZoom: 18,
    id: 'hot',
    subdomains: 'ab',
}).addTo(stationMap);

var legacyMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'podcast', markerColor: 'cadetblue'});
var stationeryMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'podcast', markerColor: 'blue'});
var mobileMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'mobile', markerColor: 'purple'});

let marker = L.marker([station.location.coordinates[1], station.location.coordinates[0]], {icon: legacyMarker})
    .bindPopup('<strong>' + station.name + '</strong> <span class="badge badge-secondary">' + station.kind + '</span> <span class="badge badge-info">' + station.state + '</span>')
    .addTo(stationMap);
</script>
{% endblock %}