{% extends 'station/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>

<style type="text/css">
#stationMap { height: 300px; }
</style>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation" style="margin-top: -1.5rem">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ station_name }}</li>
    </ol>
</nav>

<div class="container">

    <h1>{{ station_name }} <small class="ml-2"><span class="badge badge-secondary">{{ station.kind }}</span> <span class="badge badge-info">{{ station.state }}</span></small></h1>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Location</th>
            <td>Lat: {{ station.location.coordinates.1 }} Lon: {{ station.location.coordinates.0 }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row mb-4">
        <div class="col-sm-8">
            <canvas id="myChart" height="160"></canvas>
            <p><small class="text-muted">All timestamps are in UTC.</small></p>
        </div>
        <div class="col-sm-4">
            <div id="stationMap"></div>
        </div>
    </div>

    <p class="text-muted"><small>
        <strong>Station kind</strong>: <span class="badge badge-secondary ml-2">S</span> Stationary <span class="badge badge-secondary ml-2">M</span> Mobile <span class="badge badge-secondary ml-2">L</span> Stationary (legacy)<br/>
        <strong>State</strong>: <span class="badge badge-info ml-2">H</span> High-rate streaming <span class="badge badge-info ml-2">N</span> Normal-rate streaming
        <span class="badge badge-info ml-2">A</span> Alert
        <span class="badge badge-info ml-2">R</span> Ready
        <span class="badge badge-info ml-2">E</span> Eco-mode
        <span class="badge badge-info ml-2">L</span> Lost
    </small></p>

</div>

{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
var station = {{ station_json | safe }};

var stationMap = L.map('stationMap').setView([station.location.coordinates[1], station.location.coordinates[0]], 13);
L.tileLayer('http://{s}.tile.openstreetmap.fr/{id}/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Map style by <a href="https://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Team">Humanitarian OSM Team</a>',
    maxZoom: 18,
    id: 'hot',
    subdomains: 'ab',
}).addTo(stationMap);

var legacyMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'podcast', markerColor: 'cadetblue'});
var stationeryMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'podcast', markerColor: 'blue'});
var mobileMarker = L.AwesomeMarkers.icon({prefix: 'fa', icon: 'mobile', markerColor: 'purple'});

let marker = L.marker([station.location.coordinates[1], station.location.coordinates[0]], {icon: legacyMarker})
    .bindPopup('<strong>' + station.name + '</strong> <span class="badge badge-secondary">' + station.kind + '</span> <span class="badge badge-info">' + station.state + '</span>')
    .addTo(stationMap);
</script>

<script>
var accel_z_data = {{ accel_z_data_json | safe }};
var accel_n_data = {{ accel_n_data_json | safe }};
var accel_e_data = {{ accel_e_data_json | safe }};
var time_start = moment('{{ time_start }}');
var time_end = moment('{{ time_end }}');
var sample_rate = {{ accel.sample_rate }};

var labels = accel_z_data.map(function(v, i) {
   return time_start.clone().add((1000/sample_rate) * i, 'milliseconds').toDate();
});
console.debug('labels=', labels);

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [
            {
                label: 'Vertical (m/s²)',
                data: accel_z_data,
                pointRadius: 0,
                borderColor: '#3f51b5',
                borderWidth: 2,
            },
            {
                label: '+North -South (m/s²)',
                data: accel_n_data,
                pointRadius: 0,
                borderColor: '#009688',
                borderWidth: 1,
            },
            {
                label: '+East -West (m/s²)',
                data: accel_e_data,
                pointRadius: 0,
                borderColor: '#4caf50',
                borderWidth: 1,
            },
        ],
        labels: labels,
    },
    options: {
        //showLines: false,
        elements: {
            line: {
                tension: 0, // disable bezier curves
            }
        },
        scales: {
            xAxes: [{
                type: "time",
                time: {
                    //bounds: 'data',
                    unit: 'second',
                    min: time_start,
                    max: time_end,
                    displayFormats: {
                        second: 'hh:mm:ss',
                    }
                }
            }]
        }
    }
});
</script>
{% endblock %}